.home {
  max-height: 100vh;
  overflow: hidden;
  .lunecontainer{
    .lune{
      float: right;
      transform: translate3d(30%, -45%,0);
      width: 30vw;
      @include media-max("tablet-up"){
        width: 70vw;
      }
    }
    .fuseestandby{
      width: 5vw;
      float: right;
      rotate: -45deg;
      transform: translate3d(400%, -20%, 0);
      @include media-max("tablet-up"){
        width: 50vw;
      }
    }
    #fuseeoff{
      position: relative;
      z-index: 9999;
      background: transparent;
    }
    .fuseeneardecolle{
      animation: neardecolle 100ms infinite;
    }
    .fuseedecolle{
      display: none;
      width: 10vw;
      float: right;
      rotate:270deg;
      transform: translate3d(150%, 200%, 0);
    }
    .fuseedecollage{
      display: block;
      animation: decollage 3s both;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .alltitle{
      display: flex;
      flex-direction: column;
      align-items: center;
      animation: apesanteur linear 4s infinite alternate;
    }
    .monNom {
      font-size: min(10vw, 6rem);
      text-shadow:
		0 1px 0 #666,
		0 2px 0 #555,
		0 3px 0 #444,
		0 4px 0 #333,
		0 5px 0 #222,
		0 6px 0 #111,
		0 7px 5px #000;
    }
    span {
      font-size: min(10vw, 5rem);
    }
    h2 {
      font-size: min(10vw, 6rem);
      border-right: 2px solid $clair;
      padding-right: 1vh;
      min-height: 7rem;
      animation: borderanim 400ms infinite reverse;
    }
    .changetitle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100vw;
      text-align: center;
      .text1{
        display: none;
      }
      .text2{
        display: none;
      }
    }
  }
}

//*etoiles filantes
.shooting-star {
  position: sticky;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
  animation: fadeShadow 2s ease-out; /* Fait varier l'opacité de la trainée au cours du temps */
}
.shooting-star.animated {
  animation-name: moveShootingStar;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.shooting-star.hidden {
  opacity: 0;
}

//*background etoiles
#stars {
  width: 1px;
  height: 1px;
  position: relative;
  background: transparent;
  box-shadow: 29px 1983px #fff, 1493px 637px #fff, 2000px 506px #fff,
    1370px 21px #fff, 1363px 1297px #fff, 1228px 553px #fff, 37px 1151px #fff,
    981px 1903px #fff, 192px 1077px #fff, 1520px 828px #fff, 1970px 205px #fff,
    966px 707px #fff, 753px 1602px #fff, 1148px 324px #fff, 3px 1530px #fff,
    1028px 648px #fff, 339px 1286px #fff, 1975px 1398px #fff, 1968px 69px #fff,
    1681px 383px #fff, 134px 1735px #fff, 936px 828px #fff, 1539px 1205px #fff,
    1597px 823px #fff, 1459px 1409px #fff, 1693px 383px #fff, 993px 1639px #fff,
    1656px 1888px #fff, 1374px 1057px #fff, 415px 799px #fff, 1312px 451px #fff,
    560px 791px #fff, 1763px 1923px #fff, 1581px 750px #fff, 618px 559px #fff,
    853px 716px #fff, 1388px 106px #fff, 1592px 309px #fff, 171px 899px #fff,
    1986px 1251px #fff, 832px 272px #fff, 210px 832px #fff, 1710px 631px #fff,
    1923px 1682px #fff, 1468px 421px #fff, 1256px 204px #fff, 1985px 1060px #fff,
    825px 250px #fff, 1514px 1750px #fff, 851px 1676px #fff, 1299px 1511px #fff,
    118px 420px #fff, 846px 1842px #fff, 787px 1664px #fff, 373px 665px #fff,
    1609px 1969px #fff, 1514px 696px #fff, 11px 1764px #fff, 600px 1348px #fff,
    1623px 548px #fff, 892px 1699px #fff, 1736px 337px #fff, 789px 83px #fff,
    617px 1988px #fff, 1711px 1571px #fff, 189px 1532px #fff, 102px 1940px #fff,
    948px 1809px #fff, 622px 380px #fff, 1451px 941px #fff, 54px 920px #fff,
    1819px 727px #fff, 964px 1513px #fff, 1192px 729px #fff, 167px 59px #fff,
    1893px 1163px #fff, 1362px 1799px #fff, 597px 1248px #fff, 216px 869px #fff,
    1051px 1949px #fff, 899px 1486px #fff, 383px 157px #fff, 1045px 1330px #fff,
    1671px 949px #fff, 101px 829px #fff, 1897px 594px #fff, 1522px 1511px #fff,
    514px 1053px #fff, 1474px 291px #fff, 1431px 1558px #fff, 1668px 1650px #fff,
    1794px 916px #fff, 1734px 252px #fff, 432px 112px #fff, 1288px 950px #fff,
    1301px 773px #fff, 1819px 270px #fff, 921px 1919px #fff, 1459px 854px #fff,
    130px 384px #fff, 1178px 291px #fff, 1506px 468px #fff, 1067px 1836px #fff,
    1248px 750px #fff, 1890px 999px #fff, 25px 1937px #fff, 331px 1281px #fff,
    676px 1124px #fff, 1186px 1440px #fff, 1065px 1899px #fff, 871px 852px #fff,
    1553px 566px #fff, 1904px 1591px #fff, 1772px 754px #fff, 1780px 94px #fff,
    809px 305px #fff, 715px 453px #fff, 124px 178px #fff, 1111px 1219px #fff,
    717px 1056px #fff, 1660px 1149px #fff, 885px 1417px #fff, 514px 906px #fff,
    1307px 1753px #fff, 1584px 1937px #fff, 1395px 577px #fff, 3px 1599px #fff,
    1752px 656px #fff, 354px 65px #fff, 923px 1372px #fff, 300px 35px #fff,
    1526px 661px #fff, 763px 1149px #fff, 107px 1108px #fff, 546px 1338px #fff,
    70px 1722px #fff, 1568px 671px #fff, 682px 1059px #fff, 1037px 940px #fff,
    265px 80px #fff, 139px 1542px #fff, 464px 1086px #fff, 740px 274px #fff,
    192px 1885px #fff, 1365px 1486px #fff, 336px 1668px #fff, 1423px 963px #fff,
    1734px 546px #fff, 425px 867px #fff, 1073px 143px #fff, 259px 387px #fff,
    1723px 1040px #fff, 1831px 417px #fff, 1157px 1565px #fff, 80px 742px #fff,
    1957px 479px #fff, 1012px 1219px #fff, 473px 1987px #fff, 1629px 1804px #fff,
    1232px 1352px #fff, 291px 933px #fff, 896px 1948px #fff, 943px 125px #fff,
    834px 728px #fff, 336px 1891px #fff, 124px 536px #fff, 1195px 1703px #fff,
    1010px 1026px #fff, 1345px 1481px #fff, 1144px 196px #fff, 439px 848px #fff,
    1134px 1817px #fff, 1117px 1958px #fff, 1694px 1767px #fff,
    853px 1365px #fff, 1646px 1289px #fff, 752px 1786px #fff, 154px 1827px #fff,
    1144px 245px #fff, 1060px 998px #fff, 744px 1679px #fff, 1743px 1231px #fff,
    1869px 586px #fff, 1108px 1056px #fff, 1799px 240px #fff, 835px 829px #fff,
    1740px 520px #fff, 1955px 757px #fff, 903px 1834px #fff, 1198px 1102px #fff,
    1547px 1382px #fff, 909px 521px #fff, 1863px 1565px #fff, 1887px 1524px #fff,
    1206px 1139px #fff, 1209px 1228px #fff, 841px 363px #fff, 333px 29px #fff,
    1599px 18px #fff, 1569px 1390px #fff, 579px 971px #fff, 375px 1752px #fff,
    219px 1106px #fff, 281px 409px #fff, 1059px 1272px #fff, 1921px 1681px #fff,
    1273px 307px #fff, 1681px 198px #fff, 344px 829px #fff, 72px 887px #fff,
    845px 629px #fff, 475px 1893px #fff, 786px 1334px #fff, 1520px 23px #fff,
    1929px 1908px #fff, 793px 1629px #fff, 1916px 1068px #fff, 821px 421px #fff,
    1598px 1074px #fff, 90px 1157px #fff, 1011px 749px #fff, 1088px 1882px #fff,
    968px 1426px #fff, 447px 436px #fff, 1765px 1720px #fff, 261px 1650px #fff,
    750px 1397px #fff, 1359px 1609px #fff, 481px 1751px #fff, 988px 938px #fff,
    571px 491px #fff, 1389px 384px #fff, 482px 851px #fff, 1307px 1808px #fff,
    1931px 1434px #fff, 1741px 132px #fff, 1492px 670px #fff, 251px 660px #fff,
    814px 1304px #fff, 839px 1551px #fff, 543px 1795px #fff, 925px 1342px #fff,
    924px 947px #fff, 814px 43px #fff, 1828px 1970px #fff, 1694px 854px #fff,
    1826px 1454px #fff, 597px 1689px #fff, 1970px 520px #fff, 1143px 1162px #fff,
    306px 523px #fff, 255px 458px #fff, 1040px 915px #fff, 414px 1853px #fff,
    170px 1393px #fff, 315px 288px #fff, 1131px 1714px #fff, 1332px 1783px #fff,
    729px 1531px #fff, 226px 1086px #fff, 1657px 870px #fff, 1987px 1128px #fff,
    691px 58px #fff, 277px 1121px #fff, 258px 1657px #fff, 428px 1401px #fff,
    380px 1249px #fff, 1539px 1058px #fff, 1808px 990px #fff, 521px 92px #fff,
    1722px 1461px #fff, 522px 1034px #fff, 1277px 1295px #fff, 851px 768px #fff,
    1305px 1552px #fff, 391px 370px #fff, 1627px 1127px #fff, 1950px 100px #fff,
    679px 1844px #fff, 1582px 1947px #fff, 955px 934px #fff, 972px 1400px #fff,
    215px 1535px #fff, 1512px 106px #fff, 1024px 621px #fff, 443px 1232px #fff,
    1347px 206px #fff, 1130px 1884px #fff, 466px 1392px #fff, 599px 126px #fff,
    1327px 58px #fff, 858px 1687px #fff, 1633px 1405px #fff, 391px 790px #fff,
    848px 1487px #fff, 931px 655px #fff, 768px 1199px #fff, 452px 1027px #fff,
    1086px 1602px #fff, 1181px 688px #fff, 1795px 1497px #fff,
    1040px 1723px #fff, 760px 631px #fff, 1124px 1971px #fff, 687px 1294px #fff,
    1315px 1677px #fff, 1658px 525px #fff, 474px 1108px #fff, 1607px 426px #fff,
    1404px 1983px #fff, 1676px 642px #fff, 1564px 1099px #fff, 1130px 963px #fff,
    781px 115px #fff, 748px 1374px #fff, 1510px 1184px #fff, 1402px 1585px #fff,
    469px 558px #fff, 1812px 860px #fff, 1180px 1492px #fff, 887px 1643px #fff,
    1280px 1062px #fff, 1174px 1313px #fff, 510px 684px #fff, 1504px 1800px #fff,
    288px 1849px #fff, 1042px 681px #fff, 1095px 1533px #fff, 1262px 373px #fff,
    277px 1319px #fff, 1343px 1309px #fff, 667px 1678px #fff, 115px 15px #fff,
    24px 1751px #fff, 1772px 1186px #fff, 1761px 862px #fff, 33px 1510px #fff,
    80px 208px #fff, 224px 2000px #fff, 692px 496px #fff, 1513px 654px #fff,
    1965px 1385px #fff, 265px 732px #fff, 1800px 1861px #fff, 72px 1722px #fff,
    1443px 1827px #fff, 1716px 1657px #fff, 58px 407px #fff, 1069px 664px #fff,
    1960px 1357px #fff, 1766px 288px #fff, 713px 1970px #fff, 769px 751px #fff,
    1360px 1026px #fff, 1009px 949px #fff, 796px 863px #fff, 1767px 278px #fff,
    495px 35px #fff, 1864px 591px #fff, 141px 710px #fff, 1105px 939px #fff,
    1890px 1242px #fff, 1956px 425px #fff, 961px 519px #fff, 810px 725px #fff,
    1067px 1833px #fff, 115px 1884px #fff, 1029px 405px #fff, 1441px 1727px #fff,
    1785px 742px #fff, 1727px 599px #fff, 1247px 718px #fff, 1549px 1662px #fff,
    753px 688px #fff, 1695px 527px #fff, 93px 1893px #fff, 1308px 1553px #fff,
    1454px 619px #fff, 1381px 513px #fff, 703px 1556px #fff, 841px 1604px #fff,
    180px 774px #fff, 12px 821px #fff, 267px 1178px #fff, 1289px 1735px #fff,
    1453px 114px #fff, 951px 1343px #fff, 1128px 523px #fff, 1895px 1815px #fff,
    412px 721px #fff, 528px 1058px #fff, 490px 1536px #fff, 1701px 1529px #fff,
    1852px 993px #fff, 1635px 1472px #fff, 1406px 328px #fff, 680px 68px #fff,
    956px 1357px #fff, 831px 682px #fff, 1702px 952px #fff, 1035px 1762px #fff,
    764px 917px #fff, 1338px 1781px #fff, 1202px 633px #fff, 740px 1740px #fff,
    194px 1239px #fff, 193px 1318px #fff, 1540px 1359px #fff, 1737px 706px #fff,
    553px 1810px #fff, 1781px 23px #fff, 699px 571px #fff, 1996px 1370px #fff,
    1428px 1359px #fff, 467px 1014px #fff, 1326px 589px #fff, 1743px 1176px #fff,
    1926px 1268px #fff, 1205px 1246px #fff, 495px 678px #fff, 1330px 1505px #fff,
    1130px 1982px #fff, 544px 1690px #fff, 1527px 1024px #fff, 709px 756px #fff,
    1850px 469px #fff, 981px 1278px #fff, 668px 444px #fff, 685px 1600px #fff,
    1974px 287px #fff, 100px 723px #fff, 283px 609px #fff, 1306px 1881px #fff,
    496px 1140px #fff, 854px 1311px #fff, 1877px 674px #fff, 472px 649px #fff,
    99px 478px #fff, 902px 1906px #fff, 1593px 724px #fff, 133px 1283px #fff,
    1489px 491px #fff, 960px 300px #fff, 1184px 1538px #fff, 337px 1775px #fff,
    262px 1130px #fff, 1334px 1578px #fff, 10px 122px #fff, 1380px 1094px #fff,
    1755px 76px #fff, 1771px 1918px #fff, 856px 197px #fff, 1901px 292px #fff,
    1225px 192px #fff, 865px 1430px #fff, 123px 640px #fff, 614px 1608px #fff,
    1188px 1515px #fff, 83px 784px #fff, 994px 615px #fff, 1488px 1526px #fff,
    1823px 203px #fff, 236px 706px #fff, 982px 849px #fff, 1699px 494px #fff,
    1752px 203px #fff, 1797px 379px #fff, 1476px 1839px #fff, 1853px 536px #fff,
    702px 523px #fff, 1268px 1701px #fff, 1702px 1797px #fff, 1234px 1664px #fff,
    576px 1499px #fff, 202px 1146px #fff, 1238px 608px #fff, 1540px 651px #fff,
    77px 272px #fff, 525px 473px #fff, 1220px 949px #fff, 1290px 352px #fff,
    1944px 1005px #fff, 38px 1804px #fff, 1684px 623px #fff, 723px 1259px #fff,
    848px 1476px #fff, 742px 1976px #fff, 420px 1300px #fff, 127px 316px #fff,
    1832px 856px #fff, 146px 1499px #fff, 1027px 734px #fff, 1407px 431px #fff,
    526px 1204px #fff, 634px 543px #fff, 509px 1572px #fff, 1296px 1552px #fff,
    1357px 225px #fff, 1498px 1752px #fff, 1718px 231px #fff, 388px 1384px #fff,
    96px 1402px #fff, 3px 1456px #fff, 631px 1872px #fff, 328px 1623px #fff,
    56px 17px #fff, 266px 1814px #fff, 874px 420px #fff, 1379px 1458px #fff,
    1458px 1251px #fff, 1646px 574px #fff, 901px 618px #fff, 364px 1445px #fff,
    399px 374px #fff, 703px 323px #fff, 1642px 1584px #fff, 1856px 735px #fff,
    863px 1206px #fff, 1315px 825px #fff, 501px 21px #fff, 1728px 1851px #fff,
    1764px 1839px #fff, 946px 980px #fff, 721px 133px #fff, 687px 626px #fff,
    1629px 354px #fff, 601px 958px #fff, 1109px 536px #fff, 1301px 90px #fff,
    743px 1170px #fff, 1309px 1957px #fff, 845px 98px #fff, 1508px 696px #fff,
    637px 28px #fff, 1662px 395px #fff, 550px 181px #fff, 1922px 1352px #fff,
    1789px 1407px #fff, 9px 998px #fff, 1048px 1798px #fff, 686px 407px #fff,
    1257px 1935px #fff, 1688px 826px #fff, 624px 712px #fff, 1066px 946px #fff,
    637px 502px #fff, 1714px 449px #fff, 1595px 1947px #fff, 482px 1125px #fff,
    145px 1203px #fff, 1099px 1483px #fff, 1946px 1060px #fff, 1722px 247px #fff,
    1058px 643px #fff, 1863px 1288px #fff, 124px 1038px #fff, 692px 1247px #fff,
    687px 1400px #fff, 752px 1366px #fff, 274px 551px #fff, 40px 139px #fff,
    1269px 1288px #fff, 693px 1596px #fff, 1623px 359px #fff, 732px 1498px #fff,
    1812px 1736px #fff, 1208px 1452px #fff, 599px 436px #fff, 609px 1536px #fff,
    262px 375px #fff, 1725px 1333px #fff, 584px 603px #fff, 408px 972px #fff,
    1646px 344px #fff, 1845px 644px #fff, 1815px 62px #fff, 724px 272px #fff,
    1294px 235px #fff, 441px 204px #fff, 544px 1626px #fff, 1789px 106px #fff,
    535px 1768px #fff, 1358px 1597px #fff, 1635px 1206px #fff, 1981px 876px #fff,
    1052px 772px #fff, 381px 1439px #fff, 47px 1990px #fff, 1727px 76px #fff,
    595px 960px #fff, 148px 1352px #fff, 712px 1422px #fff, 1945px 1346px #fff,
    224px 1986px #fff, 1654px 1150px #fff, 1822px 109px #fff, 1437px 90px #fff,
    722px 1109px #fff, 1408px 68px #fff, 1807px 248px #fff, 599px 1993px #fff,
    614px 387px #fff, 226px 1286px #fff, 1326px 1542px #fff, 1328px 747px #fff,
    702px 1904px #fff, 817px 1468px #fff, 781px 1770px #fff, 97px 1810px #fff,
    1692px 1355px #fff, 1875px 372px #fff, 1252px 285px #fff, 1288px 710px #fff,
    234px 1435px #fff, 1713px 596px #fff, 1042px 1411px #fff, 1638px 593px #fff,
    1288px 1459px #fff, 692px 1784px #fff, 1062px 1408px #fff, 406px 818px #fff,
    846px 1090px #fff, 1752px 1767px #fff, 1387px 1159px #fff, 797px 911px #fff,
    1979px 1960px #fff, 1479px 1547px #fff, 1188px 1232px #fff, 966px 76px #fff,
    1759px 1603px #fff, 1351px 306px #fff, 259px 581px #fff, 461px 195px #fff,
    1004px 1192px #fff, 1922px 228px #fff, 1672px 683px #fff, 1840px 1411px #fff,
    830px 815px #fff, 1590px 823px #fff, 120px 643px #fff, 204px 1092px #fff,
    1457px 1686px #fff, 1354px 827px #fff, 1379px 1777px #fff,
    1945px 1581px #fff, 1216px 1840px #fff, 135px 1794px #fff, 246px 1661px #fff,
    1731px 1357px #fff, 1270px 822px #fff, 1906px 982px #fff, 1442px 1645px #fff,
    1826px 507px #fff, 404px 1839px #fff, 342px 1895px #fff, 1014px 1461px #fff,
    1535px 1550px #fff, 1025px 1489px #fff, 1251px 1098px #fff,
    1768px 1887px #fff, 1403px 1076px #fff, 1462px 1546px #fff, 30px 239px #fff,
    1155px 418px #fff, 1074px 1608px #fff, 308px 207px #fff, 237px 583px #fff,
    1772px 840px #fff, 1817px 1127px #fff, 879px 817px #fff, 1748px 258px #fff,
    179px 202px #fff, 196px 928px #fff, 1524px 837px #fff, 1769px 412px #fff,
    924px 728px #fff, 460px 49px #fff, 1537px 1030px #fff, 1322px 532px #fff,
    1224px 1654px #fff, 1403px 773px #fff, 613px 830px #fff, 222px 988px #fff,
    1034px 1512px #fff, 1755px 23px #fff, 1858px 1561px #fff, 1770px 946px #fff,
    1680px 170px #fff, 465px 443px #fff, 1741px 72px #fff, 883px 909px #fff,
    282px 1963px #fff, 1744px 1239px #fff, 1231px 805px #fff, 1455px 1189px #fff,
    1242px 1508px #fff, 1490px 386px #fff, 1727px 1084px #fff, 790px 1964px #fff,
    964px 167px #fff;
  animation: animStar 20s linear infinite alternate;
}
#stars:after {
  content: " ";
  position: absolute;
  top: -500px;
  right: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 29px 1983px #fff, 1493px 637px #fff, 2000px 506px #fff,
    1370px 21px #fff, 1363px 1297px #fff, 1228px 553px #fff, 37px 1151px #fff,
    981px 1903px #fff, 192px 1077px #fff, 1520px 828px #fff, 1970px 205px #fff,
    966px 707px #fff, 753px 1602px #fff, 1148px 324px #fff, 3px 1530px #fff,
    1028px 648px #fff, 339px 1286px #fff, 1975px 1398px #fff, 1968px 69px #fff,
    1681px 383px #fff, 134px 1735px #fff, 936px 828px #fff, 1539px 1205px #fff,
    1597px 823px #fff, 1459px 1409px #fff, 1693px 383px #fff, 993px 1639px #fff,
    1656px 1888px #fff, 1374px 1057px #fff, 415px 799px #fff, 1312px 451px #fff,
    560px 791px #fff, 1763px 1923px #fff, 1581px 750px #fff, 618px 559px #fff,
    853px 716px #fff, 1388px 106px #fff, 1592px 309px #fff, 171px 899px #fff,
    1986px 1251px #fff, 832px 272px #fff, 210px 832px #fff, 1710px 631px #fff,
    1923px 1682px #fff, 1468px 421px #fff, 1256px 204px #fff, 1985px 1060px #fff,
    825px 250px #fff, 1514px 1750px #fff, 851px 1676px #fff, 1299px 1511px #fff,
    118px 420px #fff, 846px 1842px #fff, 787px 1664px #fff, 373px 665px #fff,
    1609px 1969px #fff, 1514px 696px #fff, 11px 1764px #fff, 600px 1348px #fff,
    1623px 548px #fff, 892px 1699px #fff, 1736px 337px #fff, 789px 83px #fff,
    617px 1988px #fff, 1711px 1571px #fff, 189px 1532px #fff, 102px 1940px #fff,
    948px 1809px #fff, 622px 380px #fff, 1451px 941px #fff, 54px 920px #fff,
    1819px 727px #fff, 964px 1513px #fff, 1192px 729px #fff, 167px 59px #fff,
    1893px 1163px #fff, 1362px 1799px #fff, 597px 1248px #fff, 216px 869px #fff,
    1051px 1949px #fff, 899px 1486px #fff, 383px 157px #fff, 1045px 1330px #fff,
    1671px 949px #fff, 101px 829px #fff, 1897px 594px #fff, 1522px 1511px #fff,
    514px 1053px #fff, 1474px 291px #fff, 1431px 1558px #fff, 1668px 1650px #fff,
    1794px 916px #fff, 1734px 252px #fff, 432px 112px #fff, 1288px 950px #fff,
    1301px 773px #fff, 1819px 270px #fff, 921px 1919px #fff, 1459px 854px #fff,
    130px 384px #fff, 1178px 291px #fff, 1506px 468px #fff, 1067px 1836px #fff,
    1248px 750px #fff, 1890px 999px #fff, 25px 1937px #fff, 331px 1281px #fff,
    676px 1124px #fff, 1186px 1440px #fff, 1065px 1899px #fff, 871px 852px #fff,
    1553px 566px #fff, 1904px 1591px #fff, 1772px 754px #fff, 1780px 94px #fff,
    809px 305px #fff, 715px 453px #fff, 124px 178px #fff, 1111px 1219px #fff,
    717px 1056px #fff, 1660px 1149px #fff, 885px 1417px #fff, 514px 906px #fff,
    1307px 1753px #fff, 1584px 1937px #fff, 1395px 577px #fff, 3px 1599px #fff,
    1752px 656px #fff, 354px 65px #fff, 923px 1372px #fff, 300px 35px #fff,
    1526px 661px #fff, 763px 1149px #fff, 107px 1108px #fff, 546px 1338px #fff,
    70px 1722px #fff, 1568px 671px #fff, 682px 1059px #fff, 1037px 940px #fff,
    265px 80px #fff, 139px 1542px #fff, 464px 1086px #fff, 740px 274px #fff,
    192px 1885px #fff, 1365px 1486px #fff, 336px 1668px #fff, 1423px 963px #fff,
    1734px 546px #fff, 425px 867px #fff, 1073px 143px #fff, 259px 387px #fff,
    1723px 1040px #fff, 1831px 417px #fff, 1157px 1565px #fff, 80px 742px #fff,
    1957px 479px #fff, 1012px 1219px #fff, 473px 1987px #fff, 1629px 1804px #fff,
    1232px 1352px #fff, 291px 933px #fff, 896px 1948px #fff, 943px 125px #fff,
    834px 728px #fff, 336px 1891px #fff, 124px 536px #fff, 1195px 1703px #fff,
    1010px 1026px #fff, 1345px 1481px #fff, 1144px 196px #fff, 439px 848px #fff,
    1134px 1817px #fff, 1117px 1958px #fff, 1694px 1767px #fff,
    853px 1365px #fff, 1646px 1289px #fff, 752px 1786px #fff, 154px 1827px #fff,
    1144px 245px #fff, 1060px 998px #fff, 744px 1679px #fff, 1743px 1231px #fff,
    1869px 586px #fff, 1108px 1056px #fff, 1799px 240px #fff, 835px 829px #fff,
    1740px 520px #fff, 1955px 757px #fff, 903px 1834px #fff, 1198px 1102px #fff,
    1547px 1382px #fff, 909px 521px #fff, 1863px 1565px #fff, 1887px 1524px #fff,
    1206px 1139px #fff, 1209px 1228px #fff, 841px 363px #fff, 333px 29px #fff,
    1599px 18px #fff, 1569px 1390px #fff, 579px 971px #fff, 375px 1752px #fff,
    219px 1106px #fff, 281px 409px #fff, 1059px 1272px #fff, 1921px 1681px #fff,
    1273px 307px #fff, 1681px 198px #fff, 344px 829px #fff, 72px 887px #fff,
    845px 629px #fff, 475px 1893px #fff, 786px 1334px #fff, 1520px 23px #fff,
    1929px 1908px #fff, 793px 1629px #fff, 1916px 1068px #fff, 821px 421px #fff,
    1598px 1074px #fff, 90px 1157px #fff, 1011px 749px #fff, 1088px 1882px #fff,
    968px 1426px #fff, 447px 436px #fff, 1765px 1720px #fff, 261px 1650px #fff,
    750px 1397px #fff, 1359px 1609px #fff, 481px 1751px #fff, 988px 938px #fff,
    571px 491px #fff, 1389px 384px #fff, 482px 851px #fff, 1307px 1808px #fff,
    1931px 1434px #fff, 1741px 132px #fff, 1492px 670px #fff, 251px 660px #fff,
    814px 1304px #fff, 839px 1551px #fff, 543px 1795px #fff, 925px 1342px #fff,
    924px 947px #fff, 814px 43px #fff, 1828px 1970px #fff, 1694px 854px #fff,
    1826px 1454px #fff, 597px 1689px #fff, 1970px 520px #fff, 1143px 1162px #fff,
    306px 523px #fff, 255px 458px #fff, 1040px 915px #fff, 414px 1853px #fff,
    170px 1393px #fff, 315px 288px #fff, 1131px 1714px #fff, 1332px 1783px #fff,
    729px 1531px #fff, 226px 1086px #fff, 1657px 870px #fff, 1987px 1128px #fff,
    691px 58px #fff, 277px 1121px #fff, 258px 1657px #fff, 428px 1401px #fff,
    380px 1249px #fff, 1539px 1058px #fff, 1808px 990px #fff, 521px 92px #fff,
    1722px 1461px #fff, 522px 1034px #fff, 1277px 1295px #fff, 851px 768px #fff,
    1305px 1552px #fff, 391px 370px #fff, 1627px 1127px #fff, 1950px 100px #fff,
    679px 1844px #fff, 1582px 1947px #fff, 955px 934px #fff, 972px 1400px #fff,
    215px 1535px #fff, 1512px 106px #fff, 1024px 621px #fff, 443px 1232px #fff,
    1347px 206px #fff, 1130px 1884px #fff, 466px 1392px #fff, 599px 126px #fff,
    1327px 58px #fff, 858px 1687px #fff, 1633px 1405px #fff, 391px 790px #fff,
    848px 1487px #fff, 931px 655px #fff, 768px 1199px #fff, 452px 1027px #fff,
    1086px 1602px #fff, 1181px 688px #fff, 1795px 1497px #fff,
    1040px 1723px #fff, 760px 631px #fff, 1124px 1971px #fff, 687px 1294px #fff,
    1315px 1677px #fff, 1658px 525px #fff, 474px 1108px #fff, 1607px 426px #fff,
    1404px 1983px #fff, 1676px 642px #fff, 1564px 1099px #fff, 1130px 963px #fff,
    781px 115px #fff, 748px 1374px #fff, 1510px 1184px #fff, 1402px 1585px #fff,
    469px 558px #fff, 1812px 860px #fff, 1180px 1492px #fff, 887px 1643px #fff,
    1280px 1062px #fff, 1174px 1313px #fff, 510px 684px #fff, 1504px 1800px #fff,
    288px 1849px #fff, 1042px 681px #fff, 1095px 1533px #fff, 1262px 373px #fff,
    277px 1319px #fff, 1343px 1309px #fff, 667px 1678px #fff, 115px 15px #fff,
    24px 1751px #fff, 1772px 1186px #fff, 1761px 862px #fff, 33px 1510px #fff,
    80px 208px #fff, 224px 2000px #fff, 692px 496px #fff, 1513px 654px #fff,
    1965px 1385px #fff, 265px 732px #fff, 1800px 1861px #fff, 72px 1722px #fff,
    1443px 1827px #fff, 1716px 1657px #fff, 58px 407px #fff, 1069px 664px #fff,
    1960px 1357px #fff, 1766px 288px #fff, 713px 1970px #fff, 769px 751px #fff,
    1360px 1026px #fff, 1009px 949px #fff, 796px 863px #fff, 1767px 278px #fff,
    495px 35px #fff, 1864px 591px #fff, 141px 710px #fff, 1105px 939px #fff,
    1890px 1242px #fff, 1956px 425px #fff, 961px 519px #fff, 810px 725px #fff,
    1067px 1833px #fff, 115px 1884px #fff, 1029px 405px #fff, 1441px 1727px #fff,
    1785px 742px #fff, 1727px 599px #fff, 1247px 718px #fff, 1549px 1662px #fff,
    753px 688px #fff, 1695px 527px #fff, 93px 1893px #fff, 1308px 1553px #fff,
    1454px 619px #fff, 1381px 513px #fff, 703px 1556px #fff, 841px 1604px #fff,
    180px 774px #fff, 12px 821px #fff, 267px 1178px #fff, 1289px 1735px #fff,
    1453px 114px #fff, 951px 1343px #fff, 1128px 523px #fff, 1895px 1815px #fff,
    412px 721px #fff, 528px 1058px #fff, 490px 1536px #fff, 1701px 1529px #fff,
    1852px 993px #fff, 1635px 1472px #fff, 1406px 328px #fff, 680px 68px #fff,
    956px 1357px #fff, 831px 682px #fff, 1702px 952px #fff, 1035px 1762px #fff,
    764px 917px #fff, 1338px 1781px #fff, 1202px 633px #fff, 740px 1740px #fff,
    194px 1239px #fff, 193px 1318px #fff, 1540px 1359px #fff, 1737px 706px #fff,
    553px 1810px #fff, 1781px 23px #fff, 699px 571px #fff, 1996px 1370px #fff,
    1428px 1359px #fff, 467px 1014px #fff, 1326px 589px #fff, 1743px 1176px #fff,
    1926px 1268px #fff, 1205px 1246px #fff, 495px 678px #fff, 1330px 1505px #fff,
    1130px 1982px #fff, 544px 1690px #fff, 1527px 1024px #fff, 709px 756px #fff,
    1850px 469px #fff, 981px 1278px #fff, 668px 444px #fff, 685px 1600px #fff,
    1974px 287px #fff, 100px 723px #fff, 283px 609px #fff, 1306px 1881px #fff,
    496px 1140px #fff, 854px 1311px #fff, 1877px 674px #fff, 472px 649px #fff,
    99px 478px #fff, 902px 1906px #fff, 1593px 724px #fff, 133px 1283px #fff,
    1489px 491px #fff, 960px 300px #fff, 1184px 1538px #fff, 337px 1775px #fff,
    262px 1130px #fff, 1334px 1578px #fff, 10px 122px #fff, 1380px 1094px #fff,
    1755px 76px #fff, 1771px 1918px #fff, 856px 197px #fff, 1901px 292px #fff,
    1225px 192px #fff, 865px 1430px #fff, 123px 640px #fff, 614px 1608px #fff,
    1188px 1515px #fff, 83px 784px #fff, 994px 615px #fff, 1488px 1526px #fff,
    1823px 203px #fff, 236px 706px #fff, 982px 849px #fff, 1699px 494px #fff,
    1752px 203px #fff, 1797px 379px #fff, 1476px 1839px #fff, 1853px 536px #fff,
    702px 523px #fff, 1268px 1701px #fff, 1702px 1797px #fff, 1234px 1664px #fff,
    576px 1499px #fff, 202px 1146px #fff, 1238px 608px #fff, 1540px 651px #fff,
    77px 272px #fff, 525px 473px #fff, 1220px 949px #fff, 1290px 352px #fff,
    1944px 1005px #fff, 38px 1804px #fff, 1684px 623px #fff, 723px 1259px #fff,
    848px 1476px #fff, 742px 1976px #fff, 420px 1300px #fff, 127px 316px #fff,
    1832px 856px #fff, 146px 1499px #fff, 1027px 734px #fff, 1407px 431px #fff,
    526px 1204px #fff, 634px 543px #fff, 509px 1572px #fff, 1296px 1552px #fff,
    1357px 225px #fff, 1498px 1752px #fff, 1718px 231px #fff, 388px 1384px #fff,
    96px 1402px #fff, 3px 1456px #fff, 631px 1872px #fff, 328px 1623px #fff,
    56px 17px #fff, 266px 1814px #fff, 874px 420px #fff, 1379px 1458px #fff,
    1458px 1251px #fff, 1646px 574px #fff, 901px 618px #fff, 364px 1445px #fff,
    399px 374px #fff, 703px 323px #fff, 1642px 1584px #fff, 1856px 735px #fff,
    863px 1206px #fff, 1315px 825px #fff, 501px 21px #fff, 1728px 1851px #fff,
    1764px 1839px #fff, 946px 980px #fff, 721px 133px #fff, 687px 626px #fff,
    1629px 354px #fff, 601px 958px #fff, 1109px 536px #fff, 1301px 90px #fff,
    743px 1170px #fff, 1309px 1957px #fff, 845px 98px #fff, 1508px 696px #fff,
    637px 28px #fff, 1662px 395px #fff, 550px 181px #fff, 1922px 1352px #fff,
    1789px 1407px #fff, 9px 998px #fff, 1048px 1798px #fff, 686px 407px #fff,
    1257px 1935px #fff, 1688px 826px #fff, 624px 712px #fff, 1066px 946px #fff,
    637px 502px #fff, 1714px 449px #fff, 1595px 1947px #fff, 482px 1125px #fff,
    145px 1203px #fff, 1099px 1483px #fff, 1946px 1060px #fff, 1722px 247px #fff,
    1058px 643px #fff, 1863px 1288px #fff, 124px 1038px #fff, 692px 1247px #fff,
    687px 1400px #fff, 752px 1366px #fff, 274px 551px #fff, 40px 139px #fff,
    1269px 1288px #fff, 693px 1596px #fff, 1623px 359px #fff, 732px 1498px #fff,
    1812px 1736px #fff, 1208px 1452px #fff, 599px 436px #fff, 609px 1536px #fff,
    262px 375px #fff, 1725px 1333px #fff, 584px 603px #fff, 408px 972px #fff,
    1646px 344px #fff, 1845px 644px #fff, 1815px 62px #fff, 724px 272px #fff,
    1294px 235px #fff, 441px 204px #fff, 544px 1626px #fff, 1789px 106px #fff,
    535px 1768px #fff, 1358px 1597px #fff, 1635px 1206px #fff, 1981px 876px #fff,
    1052px 772px #fff, 381px 1439px #fff, 47px 1990px #fff, 1727px 76px #fff,
    595px 960px #fff, 148px 1352px #fff, 712px 1422px #fff, 1945px 1346px #fff,
    224px 1986px #fff, 1654px 1150px #fff, 1822px 109px #fff, 1437px 90px #fff,
    722px 1109px #fff, 1408px 68px #fff, 1807px 248px #fff, 599px 1993px #fff,
    614px 387px #fff, 226px 1286px #fff, 1326px 1542px #fff, 1328px 747px #fff,
    702px 1904px #fff, 817px 1468px #fff, 781px 1770px #fff, 97px 1810px #fff,
    1692px 1355px #fff, 1875px 372px #fff, 1252px 285px #fff, 1288px 710px #fff,
    234px 1435px #fff, 1713px 596px #fff, 1042px 1411px #fff, 1638px 593px #fff,
    1288px 1459px #fff, 692px 1784px #fff, 1062px 1408px #fff, 406px 818px #fff,
    846px 1090px #fff, 1752px 1767px #fff, 1387px 1159px #fff, 797px 911px #fff,
    1979px 1960px #fff, 1479px 1547px #fff, 1188px 1232px #fff, 966px 76px #fff,
    1759px 1603px #fff, 1351px 306px #fff, 259px 581px #fff, 461px 195px #fff,
    1004px 1192px #fff, 1922px 228px #fff, 1672px 683px #fff, 1840px 1411px #fff,
    830px 815px #fff, 1590px 823px #fff, 120px 643px #fff, 204px 1092px #fff,
    1457px 1686px #fff, 1354px 827px #fff, 1379px 1777px #fff,
    1945px 1581px #fff, 1216px 1840px #fff, 135px 1794px #fff, 246px 1661px #fff,
    1731px 1357px #fff, 1270px 822px #fff, 1906px 982px #fff, 1442px 1645px #fff,
    1826px 507px #fff, 404px 1839px #fff, 342px 1895px #fff, 1014px 1461px #fff,
    1535px 1550px #fff, 1025px 1489px #fff, 1251px 1098px #fff,
    1768px 1887px #fff, 1403px 1076px #fff, 1462px 1546px #fff, 30px 239px #fff,
    1155px 418px #fff, 1074px 1608px #fff, 308px 207px #fff, 237px 583px #fff,
    1772px 840px #fff, 1817px 1127px #fff, 879px 817px #fff, 1748px 258px #fff,
    179px 202px #fff, 196px 928px #fff, 1524px 837px #fff, 1769px 412px #fff,
    924px 728px #fff, 460px 49px #fff, 1537px 1030px #fff, 1322px 532px #fff,
    1224px 1654px #fff, 1403px 773px #fff, 613px 830px #fff, 222px 988px #fff,
    1034px 1512px #fff, 1755px 23px #fff, 1858px 1561px #fff, 1770px 946px #fff,
    1680px 170px #fff, 465px 443px #fff, 1741px 72px #fff, 883px 909px #fff,
    282px 1963px #fff, 1744px 1239px #fff, 1231px 805px #fff, 1455px 1189px #fff,
    1242px 1508px #fff, 1490px 386px #fff, 1727px 1084px #fff, 790px 1964px #fff,
    964px 167px #fff;
}

//*animation
@keyframes neardecolle {
  to{
    transform: translate3d(395%, -17%, 0);
  }
}
@keyframes decollage {
  to{
    transform: translate3d(700%, -800%, 0);
  }
}
@keyframes apesanteur {
  from{
    transform: translate3d(0, 0,0);
  }
  to{
    transform: translate3d(10px, 30px,0);
  }
}
@keyframes animStar {
  0% {
    opacity: 0.2;
    filter: alpha(opacity=20);
    transform: translate3d(34px, -16px, 0) rotate(4deg);
  }
  25% {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(34px, -10px, 4) rotate(0deg);
  }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=20);
    transform: translate3d(56px, -6px, 0) rotate(-6deg);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(56px, 0, 0) rotate(0deg);
  }
}
@keyframes borderanim {
  0%{
    border-color: rgba($color: $clair, $alpha: 0.2);
  }
  100%{
    border-color: rgba($color: $clair, $alpha: 1);
  }
}
@keyframes fadeShadow {
  from {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
  }
  to {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0), 0 0 20px rgba(255, 255, 255, 0), 0 0 30px rgba(255, 255, 255, 0);
  }
}
@keyframes moveShootingStar {
  from {
    transform: translate(-100vw, -100vh);
  }
  to {
    transform: translate(100vw, 100vh);
  }
}